extends layout

block content
  a(href='https://github.com/snehisingh')
  
  .container
    h1 Blockchain Medical Encryption
      body
        include content.jade
    .embed-responsive.embed-responsive-16by9
      iframe.embed-responsive-item(src='/images/project.jpg')
    br
    p.pull-right by 
      a(href='#') viscor
      | build with jade
      strong
      p Health care data encryption is a form of data security, personel health information including medical daigneses and other senstive health data needs to be secured to guard against malicious movites as well as confidentiality breaches.